<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{{title}}}</title>
    {{#absoluteUrl}}
    <meta property="og:title" content="{{{title}}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{{absoluteUrl}}}/featured-slide.jpg" />
    <meta property="og:url" content="{{{absoluteUrl}}}" />
    {{/absoluteUrl}}
    <link rel="stylesheet" href="{{{base}}}/css/reveal.css" />
    <link rel="stylesheet" href="{{{themeUrl}}}" id="theme" />
    <link rel="stylesheet" href="{{{base}}}{{{highlightThemeUrl}}}" />
    <link rel="stylesheet" href="{{{base}}}/css/print/{{#print}}pdf{{/print}}{{^print}}paper{{/print}}.css" type="text/css" media="print" />
    <link rel="stylesheet" href="{{{base}}}/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {{#cssPaths}}
    <link rel="stylesheet" href="{{{base}}}/{{{.}}}" />
    {{/cssPaths}}

    {{#watch}}
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
    </script>
    {{/watch}}
</head>

<body>
    <div class="reveal">
        <div class="slides">{{{slides}}}</div>
    </div>

    <script src="{{{base}}}/js/reveal.js"></script>

    <script>
        function extend() {
            var target = {};
            for (var i = 0; i < arguments.length; i++) {
                var source = arguments[i];
                for (var key in source) {
                    if (source.hasOwnProperty(key)) {
                        target[key] = source[key];
                    }
                }
            }
            return target;
        }

        // Optional libraries used to extend on reveal.js
        var deps = [
            { src: '{{{base}}}/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
            { src: '{{{base}}}/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
            { src: '{{{base}}}/plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
            { src: '{{{base}}}/plugin/zoom-js/zoom.js', async: true },
            { src: '{{{base}}}/plugin/notes/notes.js', async: true },
            { src: '{{{base}}}/plugin/math/math.js', async: true },
            { src: '{{{base}}}/plugin/reveal.js-plugins/anything/anything.js' },
            { src: '{{{base}}}/plugin/reveal.js-plugins/chart/Chart.min.js' },
            { src: '{{{base}}}/plugin/d3/d3.min.js' },
            { src: '{{{base}}}/plugin/d3-queue/d3-queue.js' },
            { src: '{{{base}}}/plugin/topojson/topojson.min.js' },
            { src: '{{{base}}}/plugin/function-plot/dist/function-plot.js' },
            { src: '{{{base}}}/plugin/reveal.js-plugins/embed-tweet/embed-tweet.js' },
            { src: '{{{base}}}/plugin/reveal.js-plugins/chalkboard/chalkboard.js' }
        ];

        // default options to init reveal.js
        var defaultOptions = {
            controls: true,
            progress: true,
            history: true,
            center: true,
            transition: 'default', // none/fade/slide/convex/concave/zoom
            dependencies: deps,
            anything: [
                {
                    className: "chart",
                    initialize: (function (container, options) { container.chart = new Chart(container.getContext("2d"), options); })
                },
                {
                    className: "plot",
                    defaults: { width: 500, height: 500, grid: true },
                    initialize: (function (container, options) { options.target = "#" + container.id; functionPlot(options) })
                },
                {className: "anything",  initialize: (function(container, options){ if (options && options.initialize) { options.initialize(container)} }) }
            ],
            chalkboard: {
                toggleNotesButton: { left: "30px", bottom: "30px", top: "auto", right: "auto" },
            },
            keyboard: {
                67: function() { RevealChalkboard.toggleNotesCanvas() },	// toggle notes canvas when 'c' is pressed
                66: function() { RevealChalkboard.toggleChalkboard() },	// toggle chalkboard when 'b' is pressed
                46: function() { RevealChalkboard.clear() },	// clear chalkboard when 'DEL' is pressed
                8: function() { RevealChalkboard.reset() },	// reset chalkboard data on current slide when 'BACKSPACE' is pressed
                68: function() { RevealChalkboard.download() },	// downlad recorded chalkboard drawing when 'd' is pressed
                88: function() { RevealChalkboard.colorNext() },	// cycle colors forward when 'x' is pressed
                89: function() { RevealChalkboard.colorPrev() },	// cycle colors backward when 'y' is pressed
            }
        };

        // options from URL query string
        var queryOptions = Reveal.getQueryHash() || {};

        var options = extend(defaultOptions, {{{ revealOptionsStr }}}, queryOptions);
    </script>

    {{#scriptPaths}}
    <script src="{{{base}}}/{{{.}}}"></script>
    {{/scriptPaths}}

    <script>
        Reveal.initialize(options);
    </script>
</body>

</html>